@import "const.scss";

.footer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 40px;
    background: linear-gradient(317deg, $back-prime 60%, $back-second);
    &::after {
        @include back-pattern;
    }
    h3 {
        width: 280px;
        color: $light-font;
        margin-top: 0;
        margin-bottom: 40px;
    }
    h4 {
        color: $emphasis-font-color;
        margin: 0 0 0 20px;
        letter-spacing: 1.2px;
    }
    &__links, 
    &__visit {
        width: 35%;
        min-width: unset;
        a {
            @include flex-between;
            justify-content: start;
            padding-bottom: 40px;
        }
    }
    &__links {
        padding: 56px 0 0;
    }

    &__visit {
        padding: 56px 10px 0 0;
    }
    &__photo {
        align-self: flex-end;
        z-index: 1;
    }
    &__address-box {
        width: 80%;
    }
    &__address:last-child {
        transform: translateY(-12px);
    }
}

@media (max-width: 992px) {
    .footer {
        &__links, 
        &__visit {
            width: 44%;
        }
    }
}

@media (max-width: 700px) {
    .footer {
        justify-content: center;
        &__links, 
        &__visit {
            width: 70%;
            // margin: 0 auto;
        }
    }
}

@media (max-width: 415px) {
    .footer {
        padding: 0 10px;
        &__links, 
        &__visit {
            width: 370px;
            margin: 0 auto;
            h3 {
                text-align: center;
            }
            h4 {
                white-space: nowrap;
            }
        }
    }
}
