@import "const.scss";
@import "components.scss";

.header {
    position: relative;
    width: 100%;
    padding: 0 40px;
    color: $light-font;
    box-sizing: border-box;
    background: linear-gradient(317deg, $back-prime 60%, $back-second);
    &::after {
        @include back-pattern;
    }

    .header-top {
        z-index: 2;
        padding: 60px 0;
        @include flex-between;
    }

    .logo-box{
        &__logo {
            color: $emphasis-font-color;
            margin: 0;
            font-size: 3.2rem;
            letter-spacing: 2px;
        }
        &__subtitle {
            font-size: 1.3rem;
            color: $light-font;
            line-height: 32px;
            letter-spacing: 1.5px;
        }
    }

    .menu-list {
        @include flex-between;
        width: 37%;
        margin-top: 3px;
    }

    .menu-item {
        list-style: none;
        font-size: $p-l-font;
        font-family: Arial, Helvetica, sans-serif;
        a {
            color: $light-font;
            &:hover {
                border-bottom: 2px solid $emphasis-font-color;
            }
        }
    }
    &__navbar {
        display: none;
        position: relative;
        width: 30px;
        height: 30px;
    }
    &__navbar-item,
    &__navbar-item::before,
    &__navbar-item::after {
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: $emphasis-font-color;
        &:hover {
            background-color: $hover-btn-color;
        }
    }

    &__navbar-item::before {
        content: '';
        top: -10;
    }
    &__navbar-item::after {
        content: '';
        top: 10;
    }
}

.header-down{
    z-index: 2;
    @include flex-between;
    flex-wrap: wrap;
    color: $light-font;
    &__image {
        width: 57.5%;
        align-self: flex-end;
    }
    &__textbox {
        width: 40%;
        margin-bottom: 86px;
        h2 {
            margin: 0;
            line-height: 130%;
            max-width: 80%;
        }
        p {
            margin: 42px 0 41px;
            line-height: 160%;
            font-family: Arial, Helvetica, sans-serif;
            max-width: 97%;
        }
    }
}

@media (max-width: 992px) {
    .header {
        .menu-list {
            width: 55%;
        }
        .header-down {
            &__textbox {
                width: auto;
                max-width: 56%;
            }
            &__image {
                width: 36.5%;
            }
        }
        h2 {
            font-size: 4rem;
            line-height: 115%;
        }
        .btn-primary {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 700px) {
    .header {
        &__navbar {
            display: block;
        }
        .menu-list {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .header {
        .header-down {
            &__textbox {
                min-width: 100%;
                margin-bottom: 0;
            }
            &__image {
                margin-left: auto;
            }
        }
    }
}

@media (max-width: 414px) {
    .header {
        h2 {
            font-size: 3.5rem; 
        }
    }
}
