@import "const.scss";
@import "components.scss";
@import "footer.scss";
@import "header.scss";
@import "basic.scss";

.about-shelter {
    @include flex-around;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 40px 100px;
    img {
        margin: 0 5%;
    }
    &__textbox {
        align-self: flex-start;
        width: 36%;
        margin: 0 5%;
        padding-top: 14px;
        p {
            color: $color-dark-xl;
            font-size: $p-l-font;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 160%;
            margin-top: 25px;
        }
        h3 {
            max-width: 80%;
            margin: 0;
        }
    }
}

.our-friends {
    position: relative;
    background-color: $back-light;
    padding: 0 40px;
    overflow: hidden;
    .left-arr,
    .right-arr {
        position: absolute;
        top: 48.5%;
        border: 2px solid $hover-btn-color;
        padding: 22px 18px;
        border-radius: 50%;
        transition: 0.4s;
        &:hover {
            background-color: $hover-btn-color;
            cursor: pointer;
        }
    }
    .left-arr {
        left: 40px;
    }
    .right-arr {
        right: 40px;
        img {
            transform: rotate(180deg);
        }
    }
    h3 {
        width: 40%;
        text-align: center;
        margin: 0 auto;
        padding: 80px 0 60px;
    }
    &__wrapper {
        width: calc(100% - 120px);
        margin: 0 auto;
    }
    &__wrapper-inner {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    &__item {
        background-color: $back-light;
        transition: 0.4s;
        min-width: 270px;
        height: 435px;
        margin: 0 4.1%;
        overflow: hidden;
        border-radius: 9px;
        &:hover {
            background-color: #fff;
        }
        p {
            text-align: center;
            font-size: 2rem;
            margin: 30px 0 0 0;
        }
    }
    button {
        display: block;
    }

    .btn-secondary {
        margin: 30px auto;
        width: 185px;
    }
    .btn-prm-box {
        padding: 60px 0 102px;
        .btn-primary {
            margin: 0 auto;
            width: 260px;
        }
    }

}

.how-help {
    padding: 0 40px;
    h3 {
        padding: 80px 0 60px;
        margin: 0 auto;
        text-align: center;
        width: 30%;
    }
    .how-help-wrapper {
        @include flex-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 20%;
        text-align: center;
        padding-bottom: 35px;
        text-transform: capitalize;
    }
}

.donate {
    @include flex-around;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 40px 100px;
    background-color: $back-light;
    &__textbox {
        width: 30%;
        margin: 7px 0 0 10px;
        h3 {
            width: 85%;
            margin-bottom: 0;
            line-height: 45.5px;
        }
        h4{
            line-height: 18px;
            white-space: nowrap;
        }
        h5 {
            margin-left: 10px;
        }
    }
    .donate__photo{
        margin: 50px 0 0 0;
        transform: translateX(-24px);
    }
}

@media (max-width: 1200px) {
    .donate {
        &__textbox {
            width: 35%;
        }
    }
}

@media (max-width: 992px) {
    .about-shelter {
        img {
            width: 40%;
        }
        &__textbox {
            width: 60%;
        }
    }

    .our-friends{
        &__wrapper {
        }
        &__item {
            img {
                width: auto;
            }
        }
    }

    .donate {
        &__photo {
            width: 40%;
            transform: none!important;
        }
        &__textbox {
            width: 330px;
        }
    }
}

@media (max-width: 768px) {
    .about-shelter {
        flex-direction: column-reverse;
        img {
            margin-top: 20px;
            width: 25%;
        }
        &__textbox {
            width: 100%;
            h3 {
                margin: 0 auto;
            }
        }
    }

    .our-friends{
        h3 {
            width: 100%;
        }
        &__item {
            img {
                width: 100%;
            }
        }
    }
    .how-help {
        h3 {
            width: 50%;
            padding: 60px 0 60px;
        }
        .how-help-wrapper {
            justify-content: space-around;
        }
        &__item {
            width: 30%;
            text-align: center;
            padding-bottom: 35px;
            text-transform: capitalize;
        }
    }
    .donate {
        flex-direction: column-reverse;
        padding: 60px 40px;
        h3 {
            margin-top: 0;
        }
        &__photo {
            width: 40%;
            transform: none!important;
        }
        &__textbox {
            margin: 0;
            a {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 500px) {
    .how-help {
        h3 {
            width: 100%;
        }
        &__item {
            width: 30%;
            text-align: center;
            padding-bottom: 35px;
            text-transform: capitalize;
        }
    }

    .our-friends {
        padding: 0 10px;
        .left-arr {
            top: 74.3%;
            left: 35%;
        }
        .right-arr {
            top: 74.3%;
            right: 35%;
        }
    }
}

@media (max-width: 415px) {
    .about-shelter {
        padding: 40px 10px 50px;
        img {
            width: 35%;
        }
        &__textbox {
            margin: 0;
        }
    } 

    .our-friends {
        padding: 0 10px;
        h3 {
            padding: 50px 0 50px;
        }
        .left-arr {
            left: 30%;
        }
        .right-arr {
            right: 30%;
        }
        &__wrapper {
            width: 100%;
        }
    }
    
    .how-help {
        padding: 0 10px;
        &__item {
            width: 50%;
        }
    }

    .donate {
        padding: 60px 10px;
        &__photo {
            margin: 15px 0 0 0!important;
            width: 90%;
        }
        &__infobox {
            max-width: 248px;
            img {
                display: none;
            }
            h4 {
                margin: 0!important;
            }
        }
    }
}
